tqdm==4.28.1
librosa==0.6.3
SoundFile==0.10.2
python_speech_features==0.6
cupy-cuda101
pynvrtc==8.0 
#git+https://github.com/salesforce/pytorch-qrnn
git+https://github.com/detly/gammatone
git+https://github.com/pswietojanski/kaldi-io-for-python.git
ninja==1.10.0.post2
